{
  "autoscan": {
    "api_key": "YOUR_SERVER_PASS",
    "url": "http://plex.example.com:3468"
  },
  "motd": {
    "banner_title": "Server1",
    "banner_type": "shell",
    "show": {
      "autoscan": false,
	  "autoscan-cb": false,
      "nzbget": false,
	  "sabnzbd": false,
      "plexpy": false,
      "rtorrent": false,
	  "qbittorrent": false
    },
    "text_color": "LGRN",
    "title_color": "LBLU"
  },
  "nzbget": {
    "url": "https://user:pass@nzbget.example.com"
  },
  "plexpy": {
      "url": "https://plexpy.example.com",
      "api_key": "SET_YOUR_API_KEY"
  },
  "rtorrent": {
    "url": "https://user:pass@rutorrent.example.com"
  }
}
